/* Deine eigenen Chart Styles */

table {
    width: 100%;
    padding: 0.5rem;
    border-collapse: collapse;
}

thead th {
    padding: 0.25rem;
    background-color: rgba(0,0,0,0.05);
    font-weight: 700;
}

thead th:not(first-child) {
    max-width: 80px;
}

tbody td {
    padding: 0.25rem;
}

tbody tr:nth-child(even) {
    background-color: rgba(0,0,0,0.025);
}

th {
    text-align: right;
    line-height: 20px;
    vertical-align: middle;
}

th:first-child {
    text-align: left;
}

td:nth-child(1n+2) {
    text-align: right;
}

.icon {
    max-width: 20px;
}

.bar {
    height: 5px;
    background-color: var(--color-grey-dark);
    margin: 5px 0;
}